page-character-detail {
    .char-img {
        width: 100%;
        height: auto;
    }
    .char-title {
        font-size: 2.0em;
        font-weight: bold;
        color: black;
        margin-bottom:.5em;
    }
    .char-descr{line-height: 150%;

    }
}